/* @font-face {
  font-family: Danylko-700;
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Danylko-400;
  src: url(../fonts/Montserrat-Regular.ttf);
} */

body {
  font-family: 'Montserrat', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

address {
  font-style: normal;
}

/* .list {
  list-style: none;
}

.link {
  text-decoration: none;
} */

.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.section-title span {
  color: #fd9222;
}

/** ================HEADER==================== */

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-navigation {
}

.header-logo {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.header-logo-italic {
  font-style: italic;
}
.header-logo-image {
}

.header-menu-list {
}

.header-menu-item {
}

.header-menu-link {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}

.header-soc-list {
}
.header-soc-item {
}
.header-soc-link {
}

/** ========================================= */

/** ================HERO==================== */

.hero {
  padding-bottom: 80px;
}

.hero-container {
  background-color: rgba(17, 17, 17, 0.6);
  border-radius: 30px;
  padding: 380px 40px 40px 40px;
}
.hero-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-btn {
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}
.hero-btn-link {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.hero-btn-link:hover,
.hero-btn-link:focus {
  border-color: #fd9222;
  color: #fd9222;
}
.hero-btn-down {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

.hero-btn-down:hover {
  color: #fd9222;
}

/** ========================================= */

/** ================FEATURES==================== */

.features {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}
.features-list {
}
.features-item {
}
.features-subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}
.features-item-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/** ========================================= */

/** ================TASTE==================== */

.taste {
  padding-top: 120px;
}
.taste-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-list {
}
.taste-item {
  background-color: #fd9222;
  padding: 28px 23px;
  border-radius: 15px;
}
.taste-img {
  margin-bottom: 36px;
}
.taste-subtitle {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/** ========================================= */

/** ================MADE==================== */

.made {
  padding-top: 120px;
}
.made-title {
  margin-bottom: 50px;
}

.made-img {
}
.made-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 28px;
}
.made-list {
}
.made-item {
  margin-bottom: 24px;
}
.made-item:last-child {
  margin-bottom: 0;
}
.made-item-text {
  color: #111;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/** ========================================= */

/** ================PRODUCTS==================== */

.products {
  padding-top: 120px;
}
.products-title {
  margin-bottom: 50px;
}

.products-list {
}
.products-item {
}
.products-img {
  margin-bottom: 8px;
}
.products-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-item-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
}
.products-btn {
  color: #111;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
/** ========================================= */

/** ================SELLERS==================== */

.sellers {
  padding-top: 120px;
}
.sellers-title {
  margin-bottom: 50px;
}
.sellers-list {
}
.sellers-item {
}
.sellers-img {
}
.sellers-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: none;
  background-color: #fff;
  border-radius: 0px 0px 15px 15px;
}

/** ========================================= */

/** ================LOVED==================== */

.loved {
}
.loved-title {
}

.loved-list {
}
.loved-item {
}
.loved-img {
}
.loved-subtitle {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}
.loved-item-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.loved-btn {
  color: #111;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.loved-btn:hover,
.loved-btn:focus {
  color: #ffffff;
  background-color: #fd9222;
}

/** ========================================= */

/** ================FOOTER==================== */

.footer {
  background-color: #1e1823;
}
.footer-text {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.footer-text span {
  color: #fd9222;
}
.footer-subtitle {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}
.footer-soc-list {
}
.footer-soc-item {
}
.footer-soc-link {
}
.footer-address {
  font-style: normal;
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-link {
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.footer-navigation {
}
.footer-menu-list {
}
.footer-menu-item {
}
.footer-menu-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: #fd9222;
}

/** ========================================= */
